body{
    background-color: rgb(241, 233, 194);
}

.box1{
    border: 5px solid rgb(58, 41, 33);
    background-color: rgb(92, 64, 51);
    height: 1278px;
    width: 300px;
}

.box2 {
    position: relative;
    top: -2000px;
    left: 700px;
    border: 5px solid rgb(58, 41, 33);
    background-color: rgb(92, 64, 51);
    height: 190px;
    width: 1150px;
}
            
#text1{
    font-size: 42px;
    text-align: center;
    color: rgb(199, 162, 39);
}

#text2{
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(71, 57, 8);
}

#jarvis{
    position: relative;
    bottom: -200px;
    left: 1600px;
    height: 600px;
    width: 600px;
}

#mechanical{
    position: relative;
    bottom: 1200px;
    left: 1000px;
    height: 600px;
    width: 600px;
}

.po1{
    position: relative;
    top: 100px;
    left: 200px;
    height: 1000px;
    width: 1000px;
}

.po2{
    position: relative;
    top: 100px;
    left: 200px;
    height: 1000px;
    width: 1000px;
}

.h1{
    position: relative;
    top: 100px;
    left: 600px;
    height: 1000px;
    width: 1000px;
}

.h2{
    position: relative;
    top: 100px;
    left: 600px;
    height: 1000px;
    width: 1000px;
}